<!-- FORGOT PASSWORD FORM -->
<div class="container">
<div class="card">
    <div class="text-center" style="padding:50px 0">
        <div class="logo">Forgot Password?</div>
        <!-- Main Form -->
        <div class="forget-form">
            <form #f="ngForm" (ngSubmit)="onFormSubmit(f)" id="forgot-password-form" class="text-left">
                <div class="etc-login-form">
                    <p class="text-muted">When you fill in your registered email address, you will be sent instructions on how to reset
                        your password.</p>
                </div>
                <div class="forget-form-main-message"></div>
                <div class="main-forget-form">
                    <div class="forget-group">
                        <div class="form-group">
                            <label for="userName" class="sr-only">Email address</label>
                            <input type="email" class="form-control" id="userName" name="userName" placeholder="example@gmail.com"
                            [(ngModel)]="userEmail.userName"
                            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required userName
                            #userNameComponent="ngModel" id="userName" />
                        <mat-error
                            *ngIf="userNameComponent.touched && userNameComponent.invalid && !userNameComponent.hasError('required')">
                            Please enter valid email.
                        </mat-error>
                        <mat-error *ngIf="userNameComponent.touched && userNameComponent.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </div>
                    </div>
                    <button type="submit" class="send-button"><i class="fa fa-chevron-right" style="color: #fff;"
                            aria-hidden="true"></i></button>
                </div>
                <div class="fo-login-form">
                    <p>Remember It? <a href="./signin">login here</a></p>
                </div>
            </form>
        </div>
        <!-- end:Main Form -->
    </div>
</div>
</div>
<br/><br/><br/><br/>
