<div class="container">
    <div class="row justify-content-center">
        <div class="card" style="width: 25rem;">
            <div class="col d-flex justify-content-center">
                <mat-tab-group>
                    <mat-tab label="Change Password">
                        <form (ngSubmit)="onSubmitFormPasswordReset()" class="change-form">
                            <h2 class="text-center">Change Password?</h2>
                            <mat-form-field appearance="fill">
                                <mat-label>Token</mat-label>
                                <input matInput [type]='"text"' name="password"
                                    [(ngModel)]="userPasswordResetModel.token" required
                                    #userPasswordComponent="ngModel">
                                <!-- <mat-icon matSuffix (click)="togglePasswordVisibility()">
                                    {{showPassword?'visibility_off':'visibility'}}
                                </mat-icon> -->
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>New Password</mat-label>
                                <input matInput [type]="showPassword ? 'text' : 'password'" name="password"
                                    [(ngModel)]="userModel.userPassword"
                                    [(ngModel)]="userPasswordResetModel.password" required
                                    #userPasswordComponent="ngModel">
                                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                                    {{showPassword?'visibility_off':'visibility'}}
                                </mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Confirm New Password</mat-label>
                                <input matInput [type]="showConfirmPassword ? 'text' : 'password'" name="cpassword"
                                    [(ngModel)]="confirmedPassword" placeholder="*************"
                                    #repasswordComponent="ngModel">
                                <mat-icon matSuffix (click)="toggleConfirmPasswordVisibility()">
                                    {{showConfirmPassword?'visibility_off':'visibility'}}
                                </mat-icon>
                            </mat-form-field>
                            <button mat-button type="submit" class="btn-dark-b" style="border-radius: 25px;"
                                [disabled]="repasswordComponent.value!=userPasswordComponent.value">Save
                                Change</button>
                        </form>
                    </mat-tab>
                    <mat-tab label="Change Username ">
                        <form (ngSubmit)="onSubmitFormUsernameReset()" class="change-form">
                            <h2 class="text-center">Change Username?</h2>
                            <mat-form-field appearance="fill">
                                <mat-label>Token</mat-label>
                                <input matInput [type]='"text"' name="password"
                                    [(ngModel)]="userPasswordResetModel.token" required
                                    #userPasswordComponent="ngModel">
                                <!-- <mat-icon matSuffix (click)="togglePasswordVisibility()">
                                    {{showPassword?'visibility_off':'visibility'}}
                                </mat-icon> -->
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>New Email</mat-label>
                                <input matInput type="email" name="userName" placeholder="example@gmail.com"
                                    [(ngModel)]="userPasswordResetModel.newEmail" required
                                    #userUserNameComponent="ngModel"
                                    placeholder="example@gmail.com" />
                                <mat-icon matSuffix>
                                    email
                                </mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Confirm New Email</mat-label>
                                <input matInput type="email" name="cuserName" placeholder="example@gmail.com"
                                    [(ngModel)]="confirmedUserName" placeholder="example@gmail.com"
                                    #reUserNameComponent="ngModel" />
                                <mat-icon matSuffix>
                                    email
                                </mat-icon>
                            </mat-form-field>
                            <button mat-button type="submit" class="btn-dark-b" style="border-radius: 25px;"
                                [disabled]="reUserNameComponent.value!=userUserNameComponent.value">Save
                                Change</button>
                        </form>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br />