.card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.change-form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    /* align-content: center; */
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 25px !important;
    border: none;
    border-left: none;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

/* label style */
::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  font-size: 15;
  font-weight: 700px;
  color: #212529;
  opacity: 1;
}

/* ink bar style */
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: rgb(86, 167, 154) !important;
}

.btn-dark-b {
    color: #fff;
    background-color: #212529;
}

.btn-dark-b:hover {
    opacity: 0.8;
}

.btn-dark-b:disabled{
    opacity: 0.7;
    color: #fff;
  }