.example-card {
    max-width: 30%;
    margin: 10px 0;
    box-shadow: 5px 5px 15px #000;
    cursor: pointer;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .desc {
    display: flex;
    justify-content: space-between;
  }
  
  .cards {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px 0;
  }